<Project>
  <PropertyGroup>
    <TVSGameDir>C:\Program Files (x86)\Steam\steamapps\common\The Villain Simulator</TVSGameDir>

    <!-- Optional overrides if your install layout differs from the default. -->
    <!-- <TVSManagedDir>$(TVSGameDir)\The Villain Simulator_Data\Managed</TVSManagedDir> -->
    <!-- <TVSPublicizedDir>$(TVSGameDir)\.tvs-publicized</TVSPublicizedDir> -->

    <!-- Automatically deploy plugins to the game's BepInEx plugins directory on build. -->
    <!-- <TVSAutoDeployOnBuild>true</TVSAutoDeployOnBuild> -->
  </PropertyGroup>
</Project>
